:root { --topH: 56px; }

body, html {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth; 
}

body {
  overflow-y: auto;
  scroll-snap-type: y mandatory;

  font-size: 1.25rem;
}

section {
  height: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  width: 100%;
}

p { margin: 0; }

h2 {
    margin: 0; 
    font-size: 1.25rem;
    font-weight: normal;
    padding-bottom: 1.25rem;
}

/* Landingpage */

.landingpage-wrapper {
  background-color: rgb(255, 0, 0);
}


/* Marquee */

.marquee-wrapper {
  width: 100%;
  height: 10rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 136, 0);
}

.marquee {
  width: 100%;
  height: 100%;

  background-color: rgb(0, 255, 191);
}

/* Nagivation Menu */

.menu {
    width: auto;
    display: inline-block;
    position: sticky;
    top: 0.8vw;

    padding: 0.6rem;

    font-size: 1.25rem;
    text-decoration: none;
    background-color: blueviolet;

    z-index: 1;
}

#menu-about{   margin-left: 25%; }
#menu-imprint{ margin-left: 50%; }
#menu-policy{  margin-left: 75%; }


/* Aboutpage */

.aboutpage-wrapper {

    background-color: rgb(0, 255, 0);
}

.bio,
.education,
.scholarship,
.filmography {
    width: 50%;
    margin: 1.5rem;

    background-color: aqua;
}

.bio,
.education-wrapper {
    margin-bottom: 5rem;
}

.education-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.cv-grid {
    display: grid;
    grid-template-columns: max-content 2fr;
    column-gap: 1.5rem;
    row-gap: .5rem;
    margin: 0;
}

.cv-grid dd {
    margin: 0;
}

.cv-grid dt {
    white-space: nowrap;
}

.cv-grid dd {
    line-height: 1.5rem;
}



/* Imprintpage */

.imprintpage-wrapper {

    background-color: rgb(0, 0, 255);
}

.contact-wrapper {
    margin-left: 50%;
    margin-top: 1.5rem;
}

address {
    font-style: normal;
}

.margin-1-5 {
    margin-bottom: 1.5rem;
}

.margin-5 {
    margin-bottom: 5rem;
}


/* Datapolicypage */

.datapolicypage-wrapper {

  background-color: rgb(255, 0, 255);
}


